@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #FEFAE0;
    --branco: #F0EAD2;
    --laranja: #bc6c25;
    --azul-degrade: linear-gradient(97.54deg, #283618 35.49%, #4F772D 165.37%);
    --fonte-principal: "Poppins";
    --verde: #283618;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --baunilha: #D1C3AC;
    --baunilha-claro: #E5D8B6;
}

.container_imagem {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}